<div class="jumbotron mt-3">
    <h1 class="alert alert-danger" >
        Su pass es incorrecto !!
    </h1>
</div>
<script>
     
    setTimeout(() => {
        location.href = '/api/session/logout'
        
    }, 1000)
</script>