<div class="jumbotron mt-3">
    <h1 class="alert alert-danger" >Su usuario no esta registrado !!</h1>
    <h2 class="alert alert-danger" >Registrar o ingrese a login nuevamente !!</h2>
</div>
<script>
     
    setTimeout(() => {
        location.href = '/api/session/logout'
        
    }, 5000)
</script>